$color-white: #fff;
$color-grey: #e2e2e2;
$color-black: #000;
$color-blue: #4585f4;
$color-red: #ff7d79;
$color-transparent: transparent;

$brand-primary: $color-blue;
$brand-danger: $color-red;
$brand-disabled: $color-grey;

$border-color: #ebebeb;
$panel-background-color: #f7f7f7;
$app-sidebar-width: 270px;
$app-header-height: 42px;
$app-logo-height: 30px;
