$IndicatorSize: 24px;

.Online, .Offline {
  width: $IndicatorSize;
  height: $IndicatorSize;
  border-radius: 50%;
}

.Online {
  background-color: lightgreen;
}

.Offline {
  background-color: lightcoral;
}
