// TODO: resolve scss modules so absolute paths can get here
@import '../../../containers/Global';

.HomeContainer {
  max-height: calc(100vh - #{$app-header-height});
  height: 100%;
  overflow: hidden;
}
