@import '../Global.scss';

.Header,
.Text,
.TextOffline,
.Close,
.ButtonBack {
  color: $modal-gray;
  text-align: center;
}

.Header {
  font-size: 20px;
}

.Text {
  font-size: 10px;
}

.TextOffline {
  margin-top: 22px;
  font-size: 12px;
}

.Input {
  padding: 0 10px;
  width: 100%;
  border: 1px solid $border-color;
  color: $text-subtle;
  font-size: 15px;
  line-height: 30px;
  transition: border .2s ease;

  &:focus,
  &:hover,
  &:active {
    border-color: $quickplan-blue;
  }

  & + & {
    margin-top: 10px;
  }
}

.InputError {
  border-color: $error-color;
  color: $error-color;

  &:focus,
  &:hover,
  &:active {
    border-color: $error-color;
  }
}

.Logo {
  min-width: 64px;
  width: 64px;
}

.Container {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.Button {
  margin: 10px 20px 0;
  padding: 0 20px;
  min-width: 135px;
  height: 30px;
  border: 1px solid transparent;
  background-color: $quickplan-blue;
  color: $color-white;
  font-size: 12px;
  line-height: 30px;
  transition: .15s background-color ease;
}

.Button:hover {
  background-color: darken($quickplan-blue, 5%);
}

.Button:active,
.Button:focus {
  background-color: darken($quickplan-blue, 10%);
}
